<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
  <h1>Hi, <%= @user.name %>!</h1>
    <p>Nice to see you joinng a lunch this is a plceholder for your lunch, more inforamtion will follow</p>
  </body>
</html>
