<div class="section-heading top-margin">
    <h1>Conversations menu</h1>
    <p>In case you run out of things to talk about, here are some suggestions.</p>
</div>

<div class="prev-container conversations">
    <div class="conversation-item">
        <div class="content">
            <h4>Starter</h4>
            <h3 class="date">How has technology changed your life in the last 5 years?</h3>
        </div>
    </div>
    <div class="conversation-item">
        <div class="content">
            <h4>Main</h4>
            <h3 class="date">What new skill would you like to learn?</h3>
        </div>
    </div>
       <div class="conversation-item">
        <div class="content">
            <h4>Dessert</h4>
            <h3 class="date">Would you rather fight 100 duck sized horses or 1 horse sized duck?l</h3>
        </div>
    </div>
</div>

<div class="button pink">
  <%= link_to "Go home", lunches_url %>
</div>