<% if user_signed_in? %>
Welcome back <%= current_user.name %>
<%= link_to "Log out", destroy_user_session_path, :method => :delete  %>
<% else %>
<div class="left">
<div class="section-heading top-margin">
    <h1>Lunch with colleagues</h1>
    <p>Connect with random people at work.</p>
    <p>By having lunch.</p>
</div>
</div>
<div class="logo">
<svg width="270" height="274" viewBox="0 0 270 274" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0)">
<path d="M268.948 117.937C263.262 93.9076 233.607 75.2865 207.002 65.9779C180.397 56.6693 156.85 56.6021 127.465 49.6355C98.0809 42.6689 62.7401 28.7357 47.3291 39.9985C31.8427 51.3287 36.2861 87.7876 26.9426 124.262C24.9571 132.032 22.3324 139.802 19.517 147.473C29.9247 132.02 56.7242 121.018 88.1418 121.018C128.605 121.018 161.405 139.26 161.405 161.766V172.202C161.401 173.525 160.872 174.793 159.933 175.729C158.994 176.664 157.721 177.191 156.393 177.194H19.8903C18.5625 177.19 17.2903 176.663 16.3514 175.727C15.4126 174.792 14.8832 173.525 14.8791 172.202V161.754C14.8812 160.961 14.925 160.169 15.0101 159.38C5.76588 183.322 -3.31552 205.824 1.19143 223.868C7.94193 250.5 44.3906 267.428 78.8301 272.377C113.273 277.389 145.755 270.423 171.959 256.489C198.167 242.62 218.101 221.656 237.248 196.524C256.332 171.324 274.63 141.895 268.948 117.937ZM163.021 206.157C163.016 207.432 162.506 208.654 161.6 209.555C160.695 210.456 159.468 210.964 158.188 210.967H157.342C157.754 210.967 158.149 211.13 158.44 211.42C158.731 211.71 158.895 212.104 158.895 212.514V213.175C158.893 213.25 158.885 213.326 158.871 213.4C159.748 213.758 160.498 214.366 161.027 215.148C161.557 215.931 161.841 216.852 161.845 217.795V224.655C161.846 225.309 161.71 225.955 161.448 226.554H161.782C161.825 227.013 161.849 227.48 161.849 227.951V233.972C161.834 237.805 160.298 241.477 157.576 244.187C154.854 246.897 151.168 248.425 147.32 248.439H28.9876C25.1349 248.428 21.4429 246.899 18.7183 244.186C15.9936 241.472 14.4578 237.794 14.4462 233.956V227.947C14.4447 227.48 14.4672 227.014 14.5137 226.55H14.8473C14.5833 225.952 14.448 225.305 14.4502 224.651V217.791C14.4542 216.848 14.7389 215.927 15.2682 215.144C15.7976 214.362 16.548 213.754 17.4244 213.396C17.4101 213.322 17.4022 213.246 17.4006 213.171V212.51C17.4006 212.1 17.5641 211.706 17.8553 211.416C18.1465 211.126 18.5414 210.963 18.9532 210.963H18.0955C16.8154 210.96 15.5887 210.452 14.6832 209.551C13.7777 208.65 13.2671 207.428 13.2629 206.153V193.074C13.2661 191.798 13.7762 190.575 14.6818 189.673C15.5874 188.771 16.8148 188.263 18.0955 188.259H158.188C159.469 188.263 160.696 188.771 161.602 189.673C162.507 190.575 163.018 191.798 163.021 193.074V206.157Z" fill="#F8F8F8"/>
<path d="M109.887 70.3691L117.761 124.476C143.468 130.806 161.405 145.111 161.405 161.754V172.19C161.402 173.513 160.873 174.781 159.934 175.717C158.995 176.652 157.722 177.179 156.394 177.182H125.421L127.279 189.964H158.252C159.516 189.964 160.728 190.465 161.621 191.355C162.515 192.245 163.017 193.453 163.017 194.712V206.216C163.017 207.475 162.515 208.682 161.621 209.573C160.728 210.463 159.516 210.963 158.252 210.963H157.339C157.751 210.963 158.145 211.126 158.437 211.416C158.728 211.706 158.891 212.1 158.891 212.51V213.044C159.76 213.388 160.505 213.984 161.031 214.754C161.557 215.524 161.839 216.433 161.842 217.364V224.754C161.842 225.371 161.718 225.982 161.476 226.55H161.774C161.818 227.009 161.842 227.476 161.842 227.947V233.968C161.83 237.24 160.711 240.413 158.666 242.973C156.62 245.533 153.767 247.331 150.568 248.075H198.914L224.78 70.3691H109.887Z" fill="#DEDEDE"/>
<path d="M161.777 226.551C161.821 227.01 161.844 227.477 161.844 227.947V233.968C161.83 237.802 160.295 241.474 157.574 244.185C154.853 246.896 151.167 248.425 147.319 248.44H28.9868C25.1341 248.429 21.4421 246.9 18.7174 244.186C15.9928 241.473 14.4569 237.795 14.4454 233.957V227.947C14.4438 227.481 14.4663 227.015 14.5129 226.551" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M64.2212 229.398H57.709" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M129.841 229.398H65.3262" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M158.896 213.045C159.765 213.389 160.51 213.985 161.035 214.755C161.561 215.525 161.844 216.434 161.846 217.365V224.755C161.843 225.986 161.351 227.165 160.478 228.035C159.604 228.906 158.42 229.396 157.185 229.399H138.521" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M53.763 229.399H19.1052C17.8697 229.396 16.6858 228.905 15.8122 228.035C14.9387 227.165 14.4465 225.985 14.4434 224.754V217.364C14.4458 216.451 14.7173 215.559 15.2241 214.798C15.7309 214.037 16.4508 213.441 17.2945 213.084" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M13.2637 201.857V206.208C13.2637 208.819 15.3047 210.956 17.7944 210.956H158.495C160.984 210.956 163.021 208.819 163.021 206.208V201.528" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M161.404 161.754C161.404 139.248 128.605 121.007 88.1416 121.007C47.6784 121.007 14.8789 139.252 14.8789 161.754V172.19C14.8831 173.513 15.4124 174.78 16.3513 175.716C17.2902 176.651 18.5624 177.179 19.8902 177.183H156.393C157.721 177.18 158.994 176.653 159.933 175.717C160.872 174.781 161.401 173.513 161.404 172.19V161.754Z" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M138.52 229.399V235.729C138.535 236.893 138.087 238.016 137.274 238.853C136.461 239.69 135.349 240.172 134.18 240.195C133.013 240.17 131.904 239.687 131.093 238.852C130.281 238.016 129.834 236.895 129.848 235.733V223.232C129.848 221.028 128.851 214.718 122.279 214.718H74.3191C67.7473 214.718 66.7466 221.048 66.7466 223.232V227.449C66.7506 227.883 66.6147 228.306 66.3587 228.657C66.1028 229.009 65.7405 229.269 65.3251 229.399C65.1465 229.455 64.9603 229.483 64.7731 229.482C64.5087 229.479 64.2476 229.423 64.0048 229.319C63.7619 229.215 63.542 229.064 63.3576 228.875C63.1733 228.686 63.028 228.463 62.9302 228.218C62.8324 227.974 62.784 227.712 62.7877 227.449V223.232C62.7877 213.844 57.697 213.844 57.697 223.232V245.805C57.7034 246.336 57.4979 246.848 57.1256 247.229C56.7534 247.609 56.2448 247.827 55.7116 247.834C55.1783 247.827 54.6697 247.609 54.2975 247.229C53.9253 246.848 53.7198 246.336 53.7261 245.805V223.232C53.7261 221.028 52.7294 214.718 46.1537 214.718H18.9452C18.7413 214.718 18.5394 214.678 18.351 214.6C18.1627 214.523 17.9915 214.409 17.8473 214.265C17.7032 214.121 17.5888 213.951 17.5108 213.763C17.4327 213.576 17.3926 213.374 17.3926 213.171V212.511C17.3926 212.1 17.5562 211.707 17.8473 211.417C18.1385 211.127 18.5334 210.964 18.9452 210.964H157.342C157.754 210.964 158.149 211.127 158.44 211.417C158.731 211.707 158.895 212.1 158.895 212.511V213.171C158.895 213.582 158.731 213.975 158.44 214.265C158.149 214.555 157.754 214.718 157.342 214.718H146.093C139.517 214.718 138.52 221.048 138.52 223.232V229.399V229.399Z" stroke="black" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M155.484 177.183H20.8036C19.5162 177.183 18.4727 178.222 18.4727 179.505V187.642C18.4727 188.925 19.5162 189.965 20.8036 189.965H155.484C156.771 189.965 157.815 188.925 157.815 187.642V179.505C157.815 178.222 156.771 177.183 155.484 177.183Z" fill="black"/>
<path d="M225.9 63.1699H108.763C106.995 63.1699 105.562 64.5975 105.562 66.3585C105.562 68.1195 106.995 69.5471 108.763 69.5471H225.9C227.668 69.5471 229.101 68.1195 229.101 66.3585C229.101 64.5975 227.668 63.1699 225.9 63.1699Z" fill="#DEDEDE"/>
<path d="M171.383 26.165H166.213V63.1699H171.383V26.165Z" fill="#DEDEDE"/>
<path d="M145.119 -0.00347455L141.463 3.63867L167.727 29.8051L171.383 26.1629L145.119 -0.00347455Z" fill="#DEDEDE"/>
<path d="M36.4183 161.889C37.1573 161.889 37.7565 161.292 37.7565 160.556C37.7565 159.82 37.1573 159.223 36.4183 159.223C35.6792 159.223 35.0801 159.82 35.0801 160.556C35.0801 161.292 35.6792 161.889 36.4183 161.889Z" fill="black"/>
<path d="M54.8851 151.124C55.6241 151.124 56.2233 150.528 56.2233 149.791C56.2233 149.055 55.6241 148.458 54.8851 148.458C54.146 148.458 53.5469 149.055 53.5469 149.791C53.5469 150.528 54.146 151.124 54.8851 151.124Z" fill="black"/>
<path d="M109.104 144.834C109.843 144.834 110.442 144.237 110.442 143.501C110.442 142.765 109.843 142.168 109.104 142.168C108.365 142.168 107.766 142.765 107.766 143.501C107.766 144.237 108.365 144.834 109.104 144.834Z" fill="black"/>
<path d="M54.8851 135.902C55.6241 135.902 56.2233 135.305 56.2233 134.569C56.2233 133.832 55.6241 133.235 54.8851 133.235C54.146 133.235 53.5469 133.832 53.5469 134.569C53.5469 135.305 54.146 135.902 54.8851 135.902Z" fill="black"/>
<path d="M63.6292 164.551C64.3683 164.551 64.9674 163.954 64.9674 163.218C64.9674 162.482 64.3683 161.885 63.6292 161.885C62.8901 161.885 62.291 162.482 62.291 163.218C62.291 163.954 62.8901 164.551 63.6292 164.551Z" fill="black"/>
<path d="M106.432 165.884C107.171 165.884 107.77 165.287 107.77 164.551C107.77 163.815 107.171 163.218 106.432 163.218C105.693 163.218 105.094 163.815 105.094 164.551C105.094 165.287 105.693 165.884 106.432 165.884Z" fill="black"/>
<path d="M146.092 169.572C146.831 169.572 147.43 168.975 147.43 168.238C147.43 167.502 146.831 166.905 146.092 166.905C145.353 166.905 144.754 167.502 144.754 168.238C144.754 168.975 145.353 169.572 146.092 169.572Z" fill="black"/>
<path d="M83.055 151.124C83.7941 151.124 84.3932 150.528 84.3932 149.791C84.3932 149.055 83.7941 148.458 83.055 148.458C82.3159 148.458 81.7168 149.055 81.7168 149.791C81.7168 150.528 82.3159 151.124 83.055 151.124Z" fill="black"/>
<path d="M130.145 144.834C130.884 144.834 131.483 144.237 131.483 143.501C131.483 142.765 130.884 142.168 130.145 142.168C129.406 142.168 128.807 142.765 128.807 143.501C128.807 144.237 129.406 144.834 130.145 144.834Z" fill="black"/>
<path d="M82.7659 135.902C83.505 135.902 84.1041 135.305 84.1041 134.569C84.1041 133.832 83.505 133.235 82.7659 133.235C82.0269 133.235 81.4277 133.832 81.4277 134.569C81.4277 135.305 82.0269 135.902 82.7659 135.902Z" fill="black"/>
</g>
<defs>
<clipPath id="clip0">
<rect width="270" height="274" fill="white"/>
</clipPath>
</defs>
</svg>
</div>
<br />
<div  class="button pink">
    <%= link_to "Sign up", 'users/sign_up' %>
</div>
<div class="button">
    <%= link_to "I have an account", 'users/sign_in' %>
</div>
<% end %>