<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Qiao <%= @user.name %></h1>
    <p>
    Hi <%= @user.name %>!<br>
    Qiao is the app where you can sign up for weekly lunch dates with a random colleague.<br>
    Let's get started!
    --------------------------
    </p>
    <p>Made by Co:lab</p>

  </body>
</html>