// Place all the styles related to the Lunches controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event {
  border: black solid 3px;
  height: 220px;
  width: 100%;
  max-width: 350px;
  margin: 15px 0 60px;
  position: relative;

  .event-content {
    margin: 20px;

    h2 {
      margin: 5px 0;
      font-size: 28px;
    }

    h3 {
      font-weight: normal;
      color: #f898a0;
      margin: 0;
      text-transform: uppercase;
      font-size: 19px;
    }

    .button {
      position: absolute;
      bottom: -50px;
      right: -3px;
      max-width: 180px;
    }
  }
}

.event-conversations {
  border: black solid 3px;
  height: 160px;
  width: 100%;
  max-width: 350px;
  margin: 15px 0 60px;
  position: relative;
  background-color: #f898a0;

  .event-content {
    margin: 20px;

    h2 {
      margin: 5px 0;
      font-size: 28px;
    }

    .button {
      position: absolute;
      bottom: -50px;
      right: -3px;
      max-width: 250px;
    }
  }
}

.prev-container {
  width: 100%;
  max-width: 350px;
  .lunch {
    border: black solid 3px;
    margin: 15px 0;

    .content {
      padding: 20px;
      h3 {
        text-transform: uppercase;
        font-weight: bold;
        font-size: 28px;
        margin: 0;
      }
      p {
        font-size: 19px;
        line-height: 1.5;
        margin: 15px 0 0;
        .name, a {
          color: #f898a0;
          text-decoration: none;
        }
      }
    }
  }
}

.content {
  p {
    font-size: 19px;
    line-height: 1.5;
    margin: 15px 0 0;
    .name, a{
      color: #f898a0;
      text-decoration: none;
    }
  }
}
