// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.conversations-list {
    width: 100%;
    .conversation-item {
      border: black solid 3px;
      margin: 15px 0;
  
      .content {
        padding: 20px;
        h3 {
          font-weight: bold;
          font-size: 28px;
          margin: 0;
        }
        h4 {
            font-weight: normal;
            color: #000;
            margin: 0 0 5px;
            font-size: 19px;
            color: #f898a0;
            text-transform: uppercase;
        }
      }
    }
  }