// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_user {
    width: 90%;
    max-width: 350px;
}


.profile-box {
    border: black solid 3px;
    margin: 15px 0;
    display: flex;
    align-items: center;    
    flex-direction: column;

    .face{
        max-width: 150px;
        padding: 20px 0;
    }

    span {
        display: flex;
        justify-content: center;
        padding: 10px;
        
        &:last-of-type {
            padding-bottom: 20px;
        }

        &.name {
            text-transform: uppercase;
            font-size: 22px;
        }

        &.department {
            color: #F898A0;
            font-size: 19px;
        }
    }
}


