// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_user {
    width: 100%;
}

.alternative {
    h4 {
        margin: 60px 0 20px; 
        font-weight: normal; 
        text-align: center; 
        font-size: 18px; 
    }
}

.profile-box {
    border: black solid 3px;
    margin: 15px 0;
    padding: 30px; 
    display: flex;
    align-items: center;    
    flex-direction: column;

    .face{
        padding: 0 0 30px;
        display: block;
        width:150px;
        height:150px;
        object-fit: cover;
    }

    span {
        display: flex;
        justify-content: center;
        padding: 0; 
        font-size: 18px; 
        font-weight: bold; 

        &.name {
            text-transform: uppercase;
            font-size: 28px;
            padding: 0; 
        }

        &.department {
            color: #F898A0;
            font-size: 24px;
            padding: 5px 0 0; 
            font-weight: normal; 
        }
    }
}

.user-feed-card {
    margin: 15px 0;
    position: relative;
    
    .card-content {
        margin: 0 20px; 
        display: flex;

        span {
         
            &:last-of-type {
                padding: 0 12px;
            }
        }

        img { 
            width: 45px; 
            height: 45px;
            object-fit: cover;
        }
    
        h2 {
            margin: 0;
            font-size: 19px;
            font-weight: normal;
            line-height: 1;

            a { color: black; text-decoration: none; }
        }
    
        h3 {
            font-weight: normal;
            margin: 0 0 2px;
            font-size: 13px;
            color: #f898a0;
            line-height: 1;
        }
    }
}

